* {
	text-align: center;
}


html {
	color: rgb(255, 255, 255);
	font-family: monospace;
	text-transform: uppercase;
	letter-spacing: 5px;
	
	background-color: rgb(66, 66, 66);
}

body {
	margin: 0;
	padding: 0;

	width: 100%;
	max-width: 1440px;
	height: 100%;

	text-align: center;
}

h1 {
	margin: 0 0 50px 0;
	padding: 15px;

	background-color: black;
}

h2 {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

img {
	width: 10px;
	height: 10px;
}

footer {
	margin: 50px 0 0 0;
	padding: 15px 0;

	color: gray;

	background-color: black;
}

#dyno {
	margin-top: 50px;
	width: 400px;
}

#dyno img {
	width: 200px;
	height: 200px;
}

#dyno p {
	display: block;
	
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.month {
	margin: 30px 50px;
	padding: 15px;

	width: 400px;
	height: 400px;
}

.dow {
	margin: 3px;

	width: 50px;

	display: inline-block;

	color: rgb(125, 125, 125);
}

.day {
	margin: 2px;

	width: 50px;
	height: 50px;

	border: 1px solid rgb(66, 66, 66);
}

.dayInMonth {
	border: 1px solid rgb(75, 75, 75);
}

.filled {
	border: 1px solid rgb(110, 110, 110);
}

.today {
	border: 1px solid pink;
}

.goalMet {
	border: 1px solid #afd2e5;
}

.goalProgress, .colorBox {
	opacity: 0.2;
	transition: ease-in-out opacity 0.2s;
}

.colorBox {
	margin: 15px;
	padding: 5px;

	width: 100px;
	height: 25px;

	font-size: 0.7em;

	display: flex;
	justify-content: center;
	align-items: center;
}

.goalProgress:hover, .colorBox:hover {
	opacity: 1;
	cursor: pointer;
}


@media (max-width: 500px) {
	.page {
		flex-direction: column;
	}

	.dow {
		margin: 0;
	}

	.month {
		margin: 0;
		padding: 0;

		width: 100%;
	}

	.colorBox {
		margin-bottom: 100px;
	}

	.colorBox, .goalProgress {
		opacity: 1;
	}
}
